<%- include("partials/header.ejs") %>

    <body>
        <header>
            <div class="navbar-container">
                <div class="navbar">
                    <a href="/" class="home">Home</a>
                    <form method="post" action="/logout" class="navbar signout-form">
                        <button type="submit" name="signout" class="btn signout-button">Sign out</button>
                    </form>

                </div>

        </header>
        <div class="post-bar">
            <h1 id="posts">Posts</h1>
            <a href="/compose" class="btn post-button">Compose</a>
        </div>
        <div class="postView-container">
            <%if(locals.Posts.length> 0){ for (let index=0; index < Posts.length; index++) {%>
                    <%const Post=Posts[index];%>
                        <div class="post-view">
                            <button class="edit-btn delete-btn">Delete</button>
                            <a href="/" class="confirm">Keep</a>
                            <span class="confirm">/</span>
                            <a href="delete?Post=<%=Post.id%>" class="confirm">Delete</a>
                            <span class="confirm attention">Delete Post?</span>
                            <a href="edit?Post=<%=Post.id%>" class="edit-btn">Edit</a>
                            <h2 class="post-content post-title">
                                <%=Post.title %>
                            </h2>
                            <p class="post-content">
                                <%= Post.post %>
                            </p>
                        </div>
                        <%}}else{;%>
                            <div class="post-view">
                                <p class="post-content">Click the compose button to create your first post!</p>
                            </div>
                            <% } %>
        </div>

        <script>
            const deleteButton = document.querySelectorAll(".delete-btn");
            deleteButton.forEach(node => {
                node.addEventListener('click', function () { toggleVisibility() });
            })

            function toggleVisibility() {
                const items = document.querySelectorAll(".confirm");

                items.forEach(element => {
                    element.style.display = "inline";
                });
            }
        </script>
    </body>

    <%- include("partials/footer.ejs") %>